<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>staff</servlet-name>
        <servlet-class>controller.Staff.staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>controller.Manager.manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer</servlet-name>
        <servlet-class>controller.Customer.customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Authentication.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>staff</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>
