<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>manager</servlet-name>
        <servlet-class>controller.Manager.manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Authentication.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Authentication.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.Authentication.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>common.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerCategory</servlet-name>
        <servlet-class>controller.Manager.managerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>controller.Product.product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccount</servlet-name>
        <servlet-class>controller.Customer.ManageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>controller.Customer.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chart</servlet-name>
        <servlet-class>controller.Manager.chart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.Manager.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>common.AboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.Customer.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAbout</servlet-name>
        <servlet-class>controller.Manager.manageAbout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productFeedback</servlet-name>
        <servlet-class>controller.Product.productFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepassword</servlet-name>
        <servlet-class>controller.Authentication.Changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteList</servlet-name>
        <servlet-class>controller.Product.FavouriteList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCoupons</servlet-name>
        <servlet-class>controller.Manager.manageCoupons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coupons</servlet-name>
        <servlet-class>common.Coupons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultation</servlet-name>
        <servlet-class>common.Consultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>videoCall</servlet-name>
        <servlet-class>common.videoCall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyPointCustomer</servlet-name>
        <servlet-class>controller.Customer.ApplyPointCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultationSuccess</servlet-name>
        <servlet-class>common.consultationSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordSucess</servlet-name>
        <servlet-class>common.changePasswordSucess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerCategory</servlet-name>
        <url-pattern>/managercategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccount</servlet-name>
        <url-pattern>/customerprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chart</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAbout</servlet-name>
        <url-pattern>/manageabout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouriteList</servlet-name>
        <url-pattern>/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCoupons</servlet-name>
        <url-pattern>/manageCoupons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coupons</servlet-name>
        <url-pattern>/coupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultation</servlet-name>
        <url-pattern>/Consultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>videoCall</servlet-name>
        <url-pattern>/videocall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyPointCustomer</servlet-name>
        <url-pattern>/applypoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultationSuccess</servlet-name>
        <url-pattern>/consultationSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordSucess</servlet-name>
        <url-pattern>/changePasswordSucess</url-pattern>
    </servlet-mapping>
</web-app>
